*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background: #1a1a1a;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

#header{
    width: 100%;
    position: relative;
}
/* Img Header */
.img-header{
    background: url(../asset/hEader.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(0,0,0,0.6);
    background-blend-mode: soft-light;
    position: relative;
    width: 100%;
    height: 100vh;
}
.img-header .header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.img-header .header-info h2{
    color:#43f314;
    font-size: 70px;
    font-weight: normal;
}
.img-header .header-info hr{
    border:none;
    outline: none;
    height: 2px;
    background: #43f314;
    width: 600px;
    margin:15px 0px;
}
.img-header .header-info p{
    color:#43f314;
    font-size: 20px;
    text-align: center;
    text-orientation: center;
}

/*navegacion*/
.menu{
    width: 100%;
    height: 66px;
    background: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #43f314;
    position: absolute;
}
.menu .log-box{margin-left: 50px;}
.menu .log-box h1{
    font-weight: normal;
    font-size:30px;
    color:#43f314;
}
.menu .list-container{
    margin-right:50px;
    transition: 0.3s;
    color: #43f314;
    background: #43f314;
}


.sticky{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* menu */
#main{
    width: 100%;
}

.mision{
   width: 100%;
} 
.mision-info{
    width: 80%;
    margin:100px auto;
}
.mision-info h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: normal;
    color:#fff;
}
.mision-info p{
    font-size: 19px;
    color:#fff;
    line-height: 40px;
    margin:30px 0px;
    text-align: center;
}
.mision .anony-img{
    width: 50%;
    margin:auto;
}
.mision .anony-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
   /* transform:rotate(-3deg);*/
    cursor: pointer;
}

/*Fondo inverso*/
.anony-sec{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top:100px;
}
.anony-sec .figure-img{
    background: url(../asset/puño.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: soft-light;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anony-sec .figure-img h4{
    width: 80%;
    color:#43f314;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    line-height: 60px;
}
.skew-abajo{
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 5vh 100vw;
	border-style: solid;
	border-color: transparent transparent #43f314 transparent;
}
.skew-arriba{
	position: absolute;
	top: 0;
	left: 0;
	border-width: 5vh 100vw 0 0;
	border-style: solid;
	border-color: #43f314 transparent transparent transparent;
	z-index: 10;
}

/* Gallery*/
.gallery-section{
    width:100%;
    margin:150px 0px ;
}
.gallery-container{
    width: 80%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,350px);
}
.gallery-container .img-card{
    overflow:hidden;
}
.gallery-container .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;   
    transition: 0.5s; 
}
.gallery-container .img-card:hover img{
    transform: scale(1.3) ;
}


.go-top{
    position: fixed;
    bottom:30px;
    right: 100%;
    width: 50px;
    height: 50px;
    background:#fff;
    border:3px solid #43f314;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.go-top span{
    font-size:20px;
    color:#1a1a1a;
}
